// app global css in SCSS form
.bg-soft-grey{
  background: #F2F2F2
}
.text-soft-grey{
  color: #F2F2F2
}
.bg-light{
  background: #F1F5F9
}
.text-light{
  color: #F1F5F9
}
.bg-lighter{
  background: #FDFDFD
}
.text-lighter{
  color: #FDFDFD
}
.component-full {
  min-height: calc(100vh - 40px);
}
.ronded-windows{
  border-radius: 5px
}
.q-field__control{
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 0px 5px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.q-field--standard .q-field__control:before{
  border-bottom: 1px solid rgba(0, 0, 0, 0.00)!important;
}
.q-field__native{
  -webkit-appearance: none;
  margin: 0;
}
.q-field__bottom{
  min-height: 15px;
  padding: 5px 12px 0;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
